.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 22%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
    color: white;
}

.navigation {
    background-color: #373738;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #373738;
    padding: 2%;
    color: white;
}

li {
    padding: 2%;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

.portfolio-image {
    height: 400px;
}

.logo-image {
    height: 70px;
}